:root {
    --primary-color: #f95c2c;
    --secondary-color: #FFFFFF; 
    --background-color: #F4F3F8; 
    --text-color: #000000; 
    --accent-color: #ed794f; 
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
  }

  .accent{
    color: var(--accent-color)
  }

  h1{
    margin:0px;
  }

  .task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 230px;
    width: 190px;
    padding: var(--padding-medium);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
  }
  .completed-task-card{
    background-color: var(--secondary-color);
    border-radius: 20px;
    width:80%;
    height: 40px;
    margin: 20px;
    padding: var(--padding-medium);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding:var(--padding-medium);
    border-radius: 20px;
    height: 2.2rem;
    width: 4.2rem;
    border: none;
    cursor: pointer;
  }

label{
  margin: 5px 10px 5px 10px;
  font-weight: 500;
}

button:hover {
    background-color: var(--accent-color);
}
  
nav{
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 40px;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    width: 14rem;
    padding: var(--padding-small);
    border-radius: 20px 0px 0px 20px;
    outline: none;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding:var(--padding-medium);
    border-radius: 0px 20px 20px 0;
    height: 2.2rem;
    width: 2.9rem;
    border: none;
}

.main {
  transition: filter 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal--login {
  height: 21rem;
  width: 18rem;
}

.modal--signup {
  height: 26rem;
  width: 18rem;
}

.modal h2 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  margin: 0px 0px 5px 0px;
  padding: 10px;
}

.modal small {
  margin-top: 10px;
  text-align: center;
}

.modal small p {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal small p:hover {
  color: var(--accent-color);
}

.modal__input-group {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
}

.modal__input-field {
  height: auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  margin: 0 5px;
}

.button-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__action-btn {
  text-align: center;
  margin-top: 15px;
  width: 110px;
  cursor: pointer;
}

.modal--login .modal__action-btn {
  width: 100px; /* Specific width for login button */
}

.modal__action-btn:hover {
  background-color: var(--accent-color);
}

.main.blur {
  filter: blur(5px);
}

span{
    size: 16px;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.row{
    width: 100%;
    padding: var(--padding-large);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section2{
  margin-left: 20px;
}

h3{
  text-align: center;
  font-weight: 800;
  margin: 0px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.addTask{
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: var(--padding-medium);
  position: relative;
}

.addTask span{
  background-color: #FFFFFF;
  height: 3.2rem;
  width: 150px;
  display: flex;
  font-size: larger;
  font-weight: 700;
  align-items: center;
  padding-left: 20px;
  border-radius: 50px;
  position: absolute;
  box-shadow: var(--box-shadow);
  z-index: 0;
  opacity: 0; /* Start hidden */
  transform: translateX(-10px); /* Slight shift to the left */
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.add-task{
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding:var(--padding-medium);
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  cursor: pointer;
  font-size: xx-large;
  z-index: 1;
}

.add-task:hover + span {
  opacity: 1; /* Fade in */
  transform: translateX(0);
  z-index: 1; 
}

.complete-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding:var(--padding-medium);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

small{
  font-size: 12px;
}

a{
  text-decoration: none;
}

.modal-overlay-add-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay-add-task.active {
  display: flex;
}

.modal-add-task{
  width: 28rem;
}
.modal-field {
  margin: 10px 0px;
}

.add-task-input{
  height: auto;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 5px;
}

#title-input{
  width:22rem
}

#description-input{
  height: max-content;
  width:26rem;
  margin-top: 8px;
  min-height: 5rem;
  vertical-align: top;
  resize: vertical;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5;
}